
.BodyShop{
    background-color: #0000ff;
}
.BodyShopConteiner{
width: 100%;
height: max-content;
padding: 0 5vw 5vw 5vw;
}
.BodyShopCategoryConteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.BodyShopCardConteinerCard{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.BodyShopCategoryButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: calc(4/1920*100vw) calc(4/1920*100vw) calc(4/1920*100vw) calc(4/1920*100vw);
    background: #FFFFFF;
    border-radius: calc(4/1920*100vw) calc(4/1920*100vw) 0px 0px;
    width: fit-content;
    height: calc(56/1920*100vw);
    border: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: calc(14/1920*100vw);
    align-items: center;
    text-align: center;
    letter-spacing: 0.018em;
    color:  #9696A0;
    cursor: pointer;
}
.BodyShopCategoryButton:hover{
    border: solid calc(2/1920*100vw) #2979FF;
}
.BodyShopCategoryButton:focus {
        border: solid calc(2/1920*100vw) #2979FF;
        color: #2979FF;   
}
.BodyShopCategoryButton:focus *{
    fill:  #2979FF;
}
.BodyShopCategoryButtonImg {
    width: calc(20/1920*100vw);
    height: calc(17/1920*100vw);
}
.BodyShopCategoryButtonImg *{
    fill:  #9696A0;
}