@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Quicksand:wght@700&family=Red+Hat+Display:wght@500;700&display=swap);
.App {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}
.MainShop{
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}



