:root {
    --form-control-color: #2979FF;
  }
*:before,
*:after {
  box-sizing: border-box;
}
*{
    font-family: 'Red Hat Display', sans-serif;
    box-sizing: border-box;
}
.FeedbackBackground{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background-color: #FFFFFF;
    margin-bottom: calc(30/1920 * 100vw);
}
.FeedbackPoppup{
    box-sizing: border-box;
    width: calc(600/1920 * 100vw);
    height: fit-content;
    margin-left: 0;
    margin-right: 0;
    margin-top: calc(50/1920 * 100vw);
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    align-items: center;
    align-content: center;
    text-align: center;
}
.FeedbackPoppupHeader{
    margin-top: calc(26/1920 * 100vw);
    margin-bottom: calc(15/1920 * 100vw);
    font-style: normal;
    font-weight: 700;
    font-size: calc(50/1920 * 100vw);
    line-height: calc(50/1920 * 100vw);
    color: #2979FF;
}
.FeedbackPoppupSubtitle{
    width: calc(200/1920 * 100vw);
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: calc(16/1920 * 100vw);
    line-height: calc(16/1920 * 100vw);
    color: #787878;
    text-align: left;
}
.FeedbackPoppupStyleInput{
    box-sizing: border-box;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: calc(510/1920 * 100vw);
    height: calc(49/1920 * 100vw);
    border-radius: calc(17/1920 * 100vw);
    background: #FFFFFF;
    border: 2px solid #787878;
}
.FeedbackPoppupStyleInput::placeholder{
    color: #CCCCCC;
}
.FeedbackPoppupLogin{
    margin-bottom: calc(11/1920 * 100vw);
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: calc(28/1920 * 100vw);
    line-height: calc(36/1920 * 100vw);
    color: #787878;
}
input[type="email" i] {
    padding-left: calc(15/1920 * 100vw);
}
.FeedbackPoppupName{
    margin-bottom: calc(11/1920 * 100vw);
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: calc(28/1920 * 100vw);
    line-height: calc(36/1920 * 100vw);
    color: #787878;
}
input[type="text" i] {
    padding-left: calc(15/1920 * 100vw);
}
.FeedbackPoppupConteinerButtonRadio{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: calc(45/1920 * 100vw);
    margin-bottom: calc(2/1920 * 100vw);
    width: 300px;
    box-sizing: border-box;
}
.FeedbackPoppupButtonRadioLabel{
    display: flex;
    align-items: center;
    margin-left: calc(45/1920 * 100vw);
    width: 100%;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: calc(14/1920 * 100vw);
    line-height: calc(16/1920 * 100vw);
    color: #787878;
}
.FeedbackConteinerButtonRadioButtonRadio{
    margin-right: calc(9/1920 * 100vw);
    margin-left: 0;
    margin-bottom: calc(9/1920 * 100vw);
    width: calc(20/1920 * 100vw);
    height: calc(20/1920 * 100vw);
}
input[type="radio"] {
    appearance: none;
    background-color: #fff;
    font: Inter;
    color: #787878;
    width: calc(20/1920 * 100vw);
    height: calc(20/1920 * 100vw);
    border: calc(2/1920 * 100vw) solid #787878;
    border-radius: 50%;
}
input[type="radio"] {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
input[type="radio"]::before {
    content: "";
    width: calc(12/1920 * 100vw);
    height: calc(12/1920 * 100vw);
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset calc(12/1920 * 100vw) calc(12/1920 * 100vw) var(--form-control-color);
}
input[type="radio"]:checked::before {
    transform: scale(1);
}
.FeedbackSubscription{
    display: flex;
    justify-content: start;
    align-items: center;
    align-self: center;
    padding: 1px;
    width: 100%;
    height: calc(24/1920 * 100vw);
}
.FeedbackPoppupStyleInputCheckbox{
    box-sizing: border-box;
    width: calc(24/1920 * 100vw);
    height: calc(24/1920 * 100vw); 
    background: #FFFFFF;
    border: 2px solid #787878;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(45/1920 * 100vw);
    margin-right: calc(10/1920 * 100vw);
}
input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    font: Inter;
    color: #787878;
    width: calc(24/1920 * 100vw);
    height: calc(24/1920 * 100vw);
    border: calc(2/1920 * 100vw) solid #787878;
}
input[type="checkbox"] {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
input[type="checkbox"]::before {
    content: "";
    width: calc(12/1920 * 100vw);
    height: calc(12/1920 * 100vw);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset calc(12/1920 * 100vw) calc(12/1920 * 100vw) var(--form-control-color);
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
.FeedbackPoppupSubtitleDimensions{
    width: fit-content;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: calc(14/1920 * 100vw);
    line-height: calc(16/1920 * 100vw);
}
.FeedbackPoppupButtonEnter{
    box-sizing: border-box;
    margin-top: calc(56/1920 * 100vw);
    margin-bottom: calc(56/1920 * 100vw);
    width: calc(180/1920 * 100vw);
    height: calc(52/1920 * 100vw);
    border-radius: calc(15/1920 * 100vw);
    background: #2979FF;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: calc(24/1920 * 100vw);
    line-height: calc(16/1920 * 100vw);
    color: #FFFFFF;
    border-width: 0;
}
.FeedbackError{
    border: 2px solid #EE2424;
}
.FeedbackPoppupContainerSubtitle{
    display: flex;
    justify-content: space-between;
    width: calc(510/1920 * 100vw);
    box-sizing: border-box;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: calc(16/1920 * 100vw);
    line-height: calc(16/1920 * 100vw);
    margin-bottom: calc(5/1920 * 100vw);
    color: #787878;
    text-align: left;
    margin-left: calc(33/1920 * 100vw);
}
.FeedbackPoppupSubtitleErorr{
    width: calc(300/1920 * 100vw);
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: calc(16/1920 * 100vw);
    line-height: calc(16/1920 * 100vw);
    color: #EE2424;
    text-align: end;
}


@media screen and (max-device-width: 768px){
    
.FeedbackBackground{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background-color: #FFFFFF;
    margin-bottom: calc(30/768 * 100vw);
}
.FeedbackPoppup{
    box-sizing: border-box;
    width: fit-content;
    height: calc(875/768 * 100vw);
    margin-left: 0;
    margin-right: 0;
    margin-top: calc(50/768 * 100vw);
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    align-items: center;
    align-content: center;
    text-align: center;
}
.FeedbackPoppupHeader{
    margin-top: calc(26/768 * 100vw);
    margin-bottom: calc(15/768 * 100vw);
    font-style: normal;
    font-weight: 700;
    font-size: calc(50/768 * 100vw);
    line-height: calc(50/768 * 100vw);
    color: #2979FF;
}
.FeedbackPoppupSubtitle{
width: calc(200/768 * 100vw);
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 700;
font-size: calc(16/768 * 100vw);
line-height: calc(16/768 * 100vw);
color: #787878;
text-align: left;
}
.FeedbackPoppupStyleInput{
    box-sizing: border-box;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: calc(510/768 * 100vw);
    height: calc(49/768 * 100vw);
    background: #FFFFFF;
    border: 2px solid #787878;
}
.FeedbackPoppupStyleInput::placeholder{
    color: #CCCCCC;
}
.FeedbackPoppupLogin{
    margin-bottom: calc(11/768 * 100vw);
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: calc(28/768 * 100vw);
    line-height: calc(36/768 * 100vw);
    color: #787878;
}
input[type="email" i] {
    padding-left: calc(15/768 * 100vw);
}
.FeedbackPoppupName{
    margin-bottom: calc(11/768 * 100vw);
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: calc(28/768 * 100vw);
    line-height: calc(36/768 * 100vw);
    color: #787878;
}
input[type="text" i] {
    padding-left: calc(15/768 * 100vw);
}
.FeedbackPoppupConteinerButtonRadio{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: calc(45/768 * 100vw);
    margin-bottom: calc(2/768 * 100vw);
    width: 300px;
    box-sizing: border-box;
}
.FeedbackPoppupButtonRadioLabel{
    display: flex;
    align-items: center;
    margin-left: calc(45/768 * 100vw);
    width: 100%;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: calc(14/768 * 100vw);
    line-height: calc(16/768 * 100vw);
    color: #787878;
}
.FeedbackConteinerButtonRadioButtonRadio{
    margin-right: calc(9/768 * 100vw);
    margin-left: 0;
    margin-bottom: calc(9/768 * 100vw);
    width: calc(20/768 * 100vw);
    height: calc(20/768 * 100vw);
}
input[type="radio"] {
    appearance: none;
    background-color: #fff;
    font: Inter;
    color: #2979FF;
    width: calc(20/768 * 100vw);
    height: calc(20/768 * 100vw);
    border: calc(2/768 * 100vw) solid #787878;
    border-radius: 50%;
    }
input[type="radio"] {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
input[type="radio"]::before {
    content: "";
    width: calc(12/768 * 100vw);
    height: calc(12/768 * 100vw);
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset calc(12/768 * 100vw) calc(12/768 * 100vw) var(--form-control-color);
    }
input[type="radio"]:checked::before {
    transform: scale(1);
}
.FeedbackSubscription{
    display: flex;
    justify-content: start;
    align-items: center;
    align-self: center;
    padding: 1px;
    width: 100%;
    height: calc(24/768 * 100vw);
    }
.FeedbackPoppupStyleInputCheckbox{
    box-sizing: border-box;
    width: calc(24/768 * 100vw);
    height: calc(24/768 * 100vw); 
    background: #FFFFFF;
    border: 2px solid #787878;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(45/768 * 100vw);
    margin-right: calc(10/768 * 100vw);
    }
input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    font: Inter;
    color: #2979FF;
    width: calc(24/768 * 100vw);
    height: calc(24/768 * 100vw);
    border: calc(2/768 * 100vw) solid #787878;
    }
input[type="checkbox"] {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    }
input[type="checkbox"]::before {
    content: "";
    width: calc(12/768 * 100vw);
    height: calc(12/768 * 100vw);
    transform: scale(0);
    background: #2979FF;
    transition: 120ms transform ease-in-out;
    box-shadow: inset calc(12/768 * 100vw) calc(12/768 * 100vw) var(--form-control-color);
    }
input[type="checkbox"]:checked::before {
    transform: scale(1);
    }
.FeedbackPoppupSubtitleDimensions{
    width: fit-content;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: calc(18/768 * 100vw);
    line-height: calc(16/768 * 100vw);
    }
.FeedbackPoppupButtonEnter{
    box-sizing: border-box;
    margin-top: calc(56/768 * 100vw);
    margin-bottom: calc(56/768 * 100vw);
    width: calc(180/768 * 100vw);
    height: calc(52/768 * 100vw);
    border-radius: calc(15/768 * 100vw);
    background: #2979FF;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: calc(24/768 * 100vw);
    line-height: calc(16/768 * 100vw);
    color: #FFFFFF;
    border-width: 0;
    }
    .FeedbackError{
    border: 2px solid #EE2424;
    }
    .FeedbackPoppupContainerSubtitle{
    display: flex;
    justify-content: space-between;
    width: calc(510/768 * 100vw);
    box-sizing: border-box;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: calc(16/768 * 100vw);
    line-height: calc(16/768 * 100vw);
    margin-bottom: calc(5/768 * 100vw);
    color: #787878;
    text-align: left;
    margin-left: calc(33/768 * 100vw);
    }
    .FeedbackPoppupSubtitleErorr{
        width: calc(300/768 * 100vw);
        font-family: 'Red Hat Display';
        font-style: normal;
        font-weight: 700;
        font-size: calc(16/768 * 100vw);
        line-height: calc(16/768 * 100vw);
        color: #EE2424;
        text-align: end;
    }
    
}
